.p {
    text-align: center;
}

li {
    list-style-type: none;
}

.header {
    width: 100%;
    top: 0px;
    background-color: white;
    position: fixed;
    margin: 0 auto;
    z-index: 10;
}

#logo {
    width: 60px;
    height: 50px;
    float: left;
    margin: 0;
    padding-left: 40px;
    padding-top: 10px;
}

.global-navi {
    float: right;
}

.global-navi ul {
    margin: 0;
    height: 65px;
}

.global-navi li {
    list-style: none;
    display: inline-block;
    background-color: #005BAC/*わかりやすくするために色付け*/
}

.search-icon {
    position: relative;
    width: 65px;
    height: 65px;
    float: right;
    vertical-align: middle;
    background-color: white;
}

img#global-icon,
img#search-icon {
    display: block;
    margin: auto;
}

img#global-icon {
    position: relative;
    top: 10px;
    right: 8px;
}

img#search-icon {
    position: relative;
    top: 6px;
    right: 8px;
}


/*上記imgタグ全てで中央揃え*/

#nav-drawer {
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
    vertical-align: middle;
    padding: 20px;
    background-color: #005BAC;
    /*headイメージと揃えたい*/
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    /*
    width: 100px;
    height: 50px;
    */
    margin-left: 20px;
}


/*チェックボックス等は非表示に*/

.nav-unshown {
    display: none;
}


/*アイコンのスペース 三本線の正体*/

#nav-open {
    /* display:block; 元はinline-block*/
    width: 50px;
    height: 50px;
    vertical-align: middle;
    color: #fff;
}


/*ハンバーガーアイコンをCSSだけで表現*/

#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
    background-color: #fff;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

.page-body-topic {
    margin-top: 135px;
}

.topic-path {
    font-size: 12px;
    font-family: "NotoSansJP";
    color: #999999;
    margin-left: 223px;
    width: 400px;
    margin-bottom: 0;
    margin-top: 80px;
}

.page-body {
    text-align: center;
}

.page-body-main {
    width: 800px;
    margin: 0 auto 0 auto;
}

.head-image {
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 30px;
    overflow: hidden;
}

.head-image h1 {
    position: absolute;
    color: white;
    /*文字は白に*/
    top: 93px;
    left: 223px;
    font-size: 28px;
    line-height: 42px;
}

.head-image p {
    position: absolute;
    color: white;
    /*文字は白に*/
    top: 46px;
    left: 223px;
    font-size: 20px;
    line-height: 28px;
}

#head-image {
    width: 1920px;
    height: 898px;
    margin: 20px 0 0 0;
    position: absolute;
    clip: rect(310px 1920px 580px 0px);
    bottom: -310px;
}

.main-text {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
}

img#main-image1 {
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: 650px;
}

img#main-image2 {
    padding-top: 40px;
    margin: 0 auto;
    width: 750px;
    height: 432px;
}

.main-text h1 {
    text-align: left;
}

.main-text ul {
    list-style: none;
}


/* NRIのつよみ*/

table.strength {
    width: 100%;
    height: 50px;
    background-color: rgb(222, 236, 248);
    border-spacing: 20px;
}

table.strength td {
    border: 1px solid #cccccc;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #0c419a;
    background-color: #ffffff;
    text-align: center;
}

tr.upper td {
    height: 50px;
    width: 200px;
    padding: 10px 5px 10px 15px;
}

tr.lower td {
    height: 50px;
    width: 200px;
    padding: 0px 0px 0px 10px;
}

caption {
    float: left;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88
}

tr.upper td::before
/*矢印*/


/* content:"";がないと表示されない */

{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 33px;
    left: 5px;
    margin: 0 5px;
    border-top: 1px solid #CDCBCA;
    border-right: 1px solid #CDCBCA;
    transform: rotate(45deg);
}

tr.lower td::before
/*矢印*/


/* content:"";がないと表示されない */

{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 21px;
    left: 5px;
    margin: 0 5px;
    border-top: 1px solid #CDCBCA;
    border-right: 1px solid #CDCBCA;
    transform: rotate(45deg);
}


/*　NRIのつよみ ここまで*/

.button {
    background-color: #005BAC;
    padding: 10px 0 20px 0;
    text-align: center;
    display: block;
    height: 40px;
    width: 295px;
    margin: 40px auto 60px auto;
}

.button a {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.button a::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5px;
    width: 4px;
    height: 4px;
    margin: 0px 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
}

.list {
    display: flex;
    width: 100%;
}


/*ここから企業情報とか*/


/*企業情報 大タイトル*/

#info {
    width: 1000px;
    border-top: 2px solid black;
    border-bottom: 1px dotted #9F9FA0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 38px;
    color: #333333;
    font-weight: 700;
    font-family: sans-serif;
}

.information {
    width: 100%;
    padding-bottom: 18px;
}

.item {
    height: 40px;
    position: relative;
}

.item a {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #0c419a;
    font-family: sans-serif;
}


/*矢印*/

.item a::before {
    content: "";
    display: inline-block;
    margin: 3px 10px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #0c419a;
    border-right: 1px solid #0c419a;
    transform: rotate(45deg);
}

.title-information {
    font-size: 16px;
    font-weight: 700;
    /*フォントがいまいち*/
    font-style: normal;
    line-height: 30px;
    /*1.875*/
    font-family: sans-serif;
    padding-left: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.list {
    display: flex;
}

#management-policy,
#strength2,
#company-introduction,
#branch {
    border-bottom: 1px dotted #a5a5a5;
    background-color: white;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

#management-policy,
#strength2,
#company-introduction,
#branch {
    width: 1000px;
    height: auto;
    text-align: left;
}

.item {
    width: 25%;
    height: 40px;
}

.prev {
    width: 1000px;
    padding: 60px 0 0 01;
    margin-right: auto;
    margin-left: auto;
}

.prev a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: Noto Sans JP;
    color: #0B419A;
}


/*矢印*/

.prev a::before {
    content: "";
    display: inline-block;
    margin: 3px 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #231815;
    border-left: 1px solid #231815;
    transform: rotate(45deg);
}

#prev,
#next {
    font-size: 16px;
    color: #315EAA;
    margin-bottom: 45px;
}

#prev {
    float: left;
}

#next {
    float: right;
}


/*矢印*/

a#prev::before {
    content: "<";
    display: inline-block;
    margin: 0px 10px;
    width: 4px;
    height: 4px;
    /*
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  transform: rotate(45deg);
  */
}

a#next::after {
    content: ">";
    display: inline-block;
    margin: 0px 10px;
    width: 4px;
    height: 4px;
    /*
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(45deg);
  */
}

.icon {
    width: 100%;
    height: 48px;
    list-style: none;
    padding: 0;
}

ul.icon {
    margin-top: 65px;
}

.icon li {
    float: right;
    padding-left: 24px;
    line-height: 20px;
}

.icon li a {
    font-size: 10px;
    line-height: 15px;
    font-weight: bold;
    font-family: "sans-serif";
    color: #333333;
    font-weight: 400;
}

.icon li img {
    height: 24px;
    width: 24px;
}

.main-text h2::before {
    content: '';
    display: inline-block;
    background-image: url(../images/NRI-h2.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    padding-left: 5px;
}

.sns-icon {
    display: block;
    border-top: 1.5px solid #999999;
    border-bottom: 1.5px solid #999999;
    padding: 15px 0 10px 0;
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

.sns-icon ul {
    height: 95px;
    width: auto;
}

.sns-icon li {
    display: inline-block;
    color: #005bac;
    font-size: 25px;
    font-weight: 700;
    padding: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: top;
}

.sns-icon li img {
    height: 25px;
    width: 25px;
}

li#follow {
    font-size: 20px;
    line-height: 30px;
    color: #005bac;
    font-family: HelveticaNeue;
    width: 115px;
    height: 30px;
    padding: 20px;
    text-align: center;
}

.index-master {
    width: 1080px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    /*   border-top:2px solid black; */
}

.index {
    display: flex;
}

.index ul {
    width: 25%;
    padding-left: 2px;
    margin: 0;
}

.index ul li {
    margin-bottom: 15px;
}

.index ul li a {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-family: "Noto Sans JP", sans-serif;
    color: #8C8786;
    font-weight: 400px;
}

.index ul li a::before {
    content: "";
    display: inline-block;
    margin: 3px 10px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #8C8786;
    border-right: 1px solid #8C8786;
    transform: rotate(45deg);
}

.index ul li p {
    margin: 10px 0;
}

.index ul li p::before {
    content: "";
    display: inline-block;
    margin: 3px 10px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #8C8786;
    border-right: 1px solid #8C8786;
    transform: rotate(45deg);
}

.index ul li.listHead {
    border-top: solid #CCCCCC 1px;
    border-bottom: solid #CCCCCC 1px;
    padding: 0;
    margin: 16px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-family: Noto Sans JP;
    /*
  文字の左のスペース15
  */
}

footer {
    width: 1080px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 25px;
}

ul.footer-wrap {
    width: 1000px;
    display: flex;
    /*  justify-content: center;*/
    padding-left: 0px;
}

ul.footer-wrap li {
    width: auto;
    font-family: sans-serif;
    color: #D0D0D0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400px;
    line-height: 18px;
    padding: 0 18px;
    border-right: solid 1px #D0D0D0;
}

ul.footer-wrap li#disclaimer {
    padding-left: 0;
}

ul.footer-wrap li#accessMap {
    border-right: solid 0 grey;
}

p#copyright {
    float: left;
    font-family: HelveticaNeue;
    font-size: 10px;
    line-height: 19px;
    font-style: normal;
    color: #515151;
    font-weight: 400px;
    margin-bottom: 115px;
    /*padding-left:25px;*/
}