.p
{
    text-align:center;
}

li
{
    list-style-type:none;
}

.header
{
  width: 100%;
  padding-top:0px;
  padding-bottom: 50px;
  background: white;

}

#logo
{
    width: 60px;
    height: 50px;
    float: left;
    margin: 0;
    padding-left:40px;
    padding-top: 10px;
}

.globalNavi
{
  float: right;
}

.globalNavi ul
{
  margin: 0;
}

.globalNavi li
{
  list-style:none ;
  display: inline-block;
}

#global_icon
{
  padding-bottom:5px; ;
}
  #nav-drawer
  {
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
    vertical-align: middle;
    padding:20px;
    background-color: #005BAC;
    /*headイメージと揃えたい*/
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
    /*
    width: 100px;
    height: 50px;
    */
    margin-left: 20px;
  }


  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース 三本線の正体*/
  #nav-open{
   /* display:block; 元はinline-block*/
    width:50px;
    height:50px;
    vertical-align: middle;
    color: #fff;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
    background-color: #fff;

  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

.topicPath
{
    font-size: 12px;
    font-family:"NotoSansJP";
    color:#999999;
    margin-left:223px;
    width: 400px;
    margin-bottom:0;
    margin-top:80px;
}

.pagebody
{
  text-align: center;
}


.pageBodyMain
{
  width: 750px;
  margin: 0 auto 0 auto;
}

#head_image
{
    width:100%;
    height: 100%;
    margin:20px 0 0 0;
}

.mainText
{
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.mainImage
{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;

}

.mainText h1
{
  text-align: left;
}

.mainText ul
{
  list-style: none;
}

table 
{
  width:100%;
  height: 1px;
  font-size: 14px;
  border-spacing: 20px;
  border-collapse:separate;
}

#strength table
{
  background-color: rgb(129, 208, 253);
  border: 1px solid rgb(129, 208, 253);
}


table caption
{
  float: left;
}

#upper table tr
{
  margin-top:3; 


}

#upper td::before,#bottom td::before
{
  content:"";
  /*　矢印を置きたいが、表示されない
  left: 3px;
  width: 4px;
  height: 4px;
  border-top: 1px solid #7a0;
  border-right: 1px solid #7a0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
*/
}

#upper td,#bottom td
{
  /*width:3px; なぜか左側のtdが大きくなる。*/
border:1px solid #cccccc;
padding: 5px 0 5px 10px;
background-color: white;
padding: 15px;
text-align: center;
color: #0A4199;
font-size: 16px;
}





#mainImage1
{
text-align: center;
}

#mainImage2
{
  padding-top:40px; 
}

.button
{
  border:#005BAC;
  background-color: #005BAC;
  padding: 20px;
  padding-bottom:30px; 
  text-align: center;
  display: block;
  height: 40px;
  width: 295px;
  margin: 40px auto 60px auto;
}

.button a{
  color: #fff;
  font-size: 16px;
}

#strength
{
  background-color: #DEECF8;
}

#prev,#next
{
  font-size:16px;
  color:#0c419a;
  color: cornflowerblue;
  margin-bottom:45px;
}
#prev
{
  float:left;
}
#next
{
  float:right;
}




.infomation
{
  width: 1080px;
  border-top:2px solid black;
  margin-top:100px;
  margin-right: auto;
  margin-left : auto;
}

.infomation h3
{
  border-bottom: 1px dotted #a5a5a5;
  color: #0c419a;
  padding-bottom:18px;
}

#managementPolicy,#strength2,#companyIntroduction,#branch
{
  border-bottom:  1px dotted #a5a5a5;
  background-color: white;
}

#managementPolicy caption,#strength2 caption,#companyIntroduction caption,#branch caption
{
  font-weight: bold;
}

#managementPolicy td,#strength2 td,#companyIntroduction td,#branch td
{
  color: #0c419a;
}

#managementPolicy tr td a,#strength2 tr td a,#companyIntroduction tr td a,#branch tr td a
{
  color:black;
}

td
{
  width: 25%;
}


.icon
{
width: 100%;
height: 48px;
list-style:none;
padding: 0;

}

.icon li
{
  float:right;
  padding-left:10px;
line-height: 20px;
}

.icon li a
{
  font-size: 10px;
font-family:"Noto Sans JP", "sans-serif";
color: #333333;
font-weight: 400;

}

.icon li img
{
height: 24px;
width: 24px;
}

h2::before
{
  content:'';
  display:inline-block;
  background-image:url(../images/NRI_h2.png);
  background-repeat: no-repeat;
  background-size:contain;
  vertical-align:middle;
  height: 24px;
  width: 24px;
  padding-left:5px;
}

.snsIcon
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    margin-top: 100px;

 /* font-weight: bold;
  font-size: 16px;
  padding: 30px 0;
  width: 100%;
  margin: 10px auto 10px auto;
  height: 50px;
  text-align: center;
  list-style: none;
  display: inline-block;
  border-top: solid grey 2px;
  border-bottom: solid grey 2px;
  box-sizing:border-box;
  display:flex;*/
 

}

.snsIcon li
{
  display: inline-block;
  color: #005bac;
  font-size: 2rem;
  font-weight: 700;
  padding: 15px;
  padding-left: 25px;
  /*
  font-size: 12px;
  padding-left:10px;
line-height: 20px;
width: 30px;
height: 30px;
margin: 0;
padding: 30px;
*/
}

.snsIcon li img
{
height: 30px;
width: 30px;
}

li#follow
{
  font-size: 22px;
  padding-bottom: 25px;

}


.indexMaster
{
  width: 1080px;
  margin-top:100px;
  margin-right:auto;
  margin-left:auto;

 /*   border-top:2px solid black; */ 
}

.index
{
  display: flex;
}

.index ul
{
  width: 25%;
  padding-left:10;
}

.index li
{
padding: 10px;
}

.index p
{
  position: relative;
  padding-left:1em;
}

.index ul li p::before {
  display: block;
  position: absolute;    /* absoluteにすると消えちゃうのなんで？*/
  content:">";
  width: 1em;
  height: 1em;
  left: 0;
  top: 0%;
 }

.listHead
{
  font-weight: bold;
  font-size: 14px;
  color: #555;
  border-top:solid darkgrey 1px;
  border-bottom:solid darkgrey 1px;
  line-height: 35px;
  padding: 0;
  margin: 0;
}


footer
{
width:1000px;
margin-right:auto;
margin-left:auto;

}
ul#footer-wrap
{
  width:865px;

  display: flex;
  justify-content: center;
  padding: 0;
  
}

ul#footer-wrap li
{
  color: grey;
  padding:0 10px 0 5px;
  border-right:solid 1px grey;
font-size: 12px;
height: 12px;

}

li#accucessMap
{
  border-right:solid 0 grey;
}

p#copyright
{
float: left;
}